################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Project Manager/bin
/Project Manager/obj
/Project Manager/Finance.csv
/archive/Project Manager/myname_finance.csv
/archive/Project Manager/myname_people.csv
/Project Manager/1.csv
/Project Manager/2.csv
/Project Manager/d2.csv
